{{> head}}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo cum numquam, rem quo natus eum minima eveniet harum reiciendis excepturi inventore impedit commodi accusamus quaerat veniam officia aliquam at! Totam!
        Qui doloribus quidem reprehenderit consequuntur dolor officiis in dignissimos nostrum, tempora nemo deserunt placeat id iure autem natus cupiditate asperiores! Rerum porro, quas quae sapiente itaque libero pariatur animi fuga!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/lnd-1.jpg"
             alt="Landscape 1"
             class="img-thumbnail">
    </div>
</div>


{{> footer}}